.statusselect{
    border: none;
    outline: none;
    /* height: 200px; */
}

.savechages{
    outline: none;
    border: none;
    background-color: white;
}
.savechages:hover{
    border-bottom: 1px solid black;
}

.linktoprofile{
    text-decoration: none;
    color:black;
}